.main p {
  font-weight: 300;
}

.drag-drop {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  height: 200px;
  border: 2px dashed #ccc;
}

#photo {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
